@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

#root {
  background-color: #eaeef7;
  height: 830px;
}

.ant-form-item-label .ant-form-item-required {
  color: gray;
}

svg {
  vertical-align: initial;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
